.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.loginForm span {
  font-size: 1.1rem;
}

.loginForm .recoverPass {
  text-decoration: underline;
  cursor: pointer;
  color: var(--yellow);
}
